<h1>welcome <%= obj.name %></h1>
<h1 align="center">Jokes</h1>
<br><br>
    <h1 align="center"><%= obj.joke %></h1>

<form action="/logout/?_method=DELETE" method="post">
    <button type="submit"><h3>logout</h3></button>
    
</form>
